/* base do site */

*{
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

h1{
  font-size: 3rem;
  font-weight: 800;
}

h2{
  font-size: 2rem;
  font-weight: 700;
}

p{
  font-size: 1rem;
  font-weight: 400;
}

button{
  font-weight: 700; 
}

body {
  margin: 0;
  background: #fff8f3;
}

/* header */

header {
position: sticky;
top: 0;
max-height: 85px;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 8%;
background: linear-gradient(90deg,#d96b00,#F28C28);
backdrop-filter: blur(8px);
box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 120px;
  width: auto;
}

.btn-loja {
  background: #fff;
  color: #d35400;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.btn-loja:hover{
    background: #ffe6d5;
  transform: translateY(-2px);
}

.btn-carrinho {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  border: none;
  border-radius: 40px;
  background: white;
  color: #d35400;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-carrinho:hover {
  transform: translateY(-2px);

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

/* fotos do produto */

.produto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 50px;
}

.galeria {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.imagem-principal img {
  width: 500px;
  max-width: 100%;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: block;
}

.fadeIn{
  animation: fadeIn .3s;
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

.miniaturas{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.miniatura{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .3s;
}

.miniatura:hover{
  transform: scale(1.05);
}

.miniatura.ativa{
  border: 2px solid #F28C28;
}

/* infotmações e preço */

.produto-info {
  margin-top: -27px;
  flex: 1;
}

.produto-info h1 {
  font-size: 40px;
  color: #5c4033;
}

.preco {
  font-size: 2rem;
  color: #ff7a00;
  font-weight: 800;
  line-height: 1.7;
}

.btn-produto {
  margin-top: 5px;
  margin-bottom: 35px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background: #ff7a00;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-produto:hover {
  transform: translateY(-3px);
  background: #ff8d1f;
}

/* ingredientes/tabela */

.ingredientes {
  padding-left: 20px;
}

details{
  background: white;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 15px;
}

summary{
  cursor:pointer;
  font-weight: 700;
  color: #F28C28;
  cursor: pointer;
}

summary:hover{
  text-decoration: underline;
}

details[open]{
  box-shadow: 0 px 20px rgba(0, 0, 0, .08);
}

/* tabela nutricional */

table{
  border-collapse: collapse;
  border: 1px solid rgb(140, 140, 140);
  font-size: 0.8rem;
}

caption{
  padding: 10px;
  font-weight: bold;
}

thead{
  background-color: rgb(288, 240, 245);
}

th,
td{
  border: 1px solid rgb(160, 160, 160);
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 4px 5px;
  text-align: center;
}

tbody > tr:nth-of-type(even){
  background-color: rgb(237, 238, 242);
}

/* aside carrinho */

#carrinho {
  position: fixed;
  right: -350px;
  top: 40px;
  width: 320px;
  height: 100vh;
  background: white;
  padding: 25px 10px;
  box-sizing: border-box;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff8c42 #f5f5f5;
  transition: 0.4s;
}

#carrinho.aberto {
  right: 0;
}

.topo-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo-carrinho h2{
  color: #d35400;
}

.item-carrinho{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns:1fr 110px 90px;
}

.nome-produto{
  width: 160px;
}

.acoes-produto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 120px;
}

.controle-quantidade{
  display: flex;
  padding-right: 15px;
  margin-top: 10px;
  align-items: center;
}

.controle-quantidade button{
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 10px;
  background: #ff8c42;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.controle-quantidade button:hover{
  transform: scale(1.08);
  filter: brightness(.92);
}

.controle-quantidade button:active{
  transform: scale(.95);
}

.controle-quantidade span{
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.img-carrinho{
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}

.resumo {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.total-carrinho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#total{
  font-size: 1.5rem;
  font-weight: bold;
  color: #d35400;
}

.btn-aside{
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 10px;
}

.btn-aside:active{
  transform: scale(.98);
}

#finalizar{
  background: #ff8c42;
  color: white;
  border: none;
}

#finalizar:hover{
  background: #f17722;
  transform: translateY(-2px);
}

#limpar-carrinho{
  background: white;
  color: #ff8c42;
  border: 2px solid #ff8c42;
}

#limpar-carrinho:hover{
  background: #fff3ea;
  transform: translateY(-2px);
}

#fecharCarrinho {
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

#fecharCarrinho:hover {
  color: #d35400;
  transform: rotate(90deg);
}

#contador-carrinho{
  background: #d35400;
  color: white;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
  flex-shrink: 0;
}

/* barra de rolagem do aside */

#carrinho::-webkit-scrollbar{
  width: 6px;
}

#carrinho::-webkit-scrollbar-track{
  background: #f5f5f5;
  border-radius: 10px;
}

#carrinho::-webkit-scrollbar-thumb{
  background: #ff8c42;
  border-radius: 10px;
}

#carrinho::-webkit-scrollbar-thumb:hover{
  background: #f17722;
}