/* base do site */
*{
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

h1{
  font-size: 3rem;
  font-weight: 800;
}

h2{
  font-size: 2rem;
  font-weight: 700;
}

p{
  font-size: 1rem;
  font-weight: 400;
}

button{
  font-weight: 700; 
}

header {
position: sticky;
top: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 8%;
background: linear-gradient(90deg,#d96b00,#F28C28);
backdrop-filter: blur(8px);
box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
}

body {
  margin: 0;
  background: #fff8f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* logo do site */

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 120px;
  width: auto;
}

.logo-texto p {
  margin: 0;
  color: #fff4e6;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}

/* botões do menu */

.menu {
  position: relative;
}

.menu button {
  background: #fff;
  color: #d35400;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background: #ffe6d5;
  transform: translateY(-2px);
}

.endereco-box {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.btn-carrinho {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  border: none;
  border-radius: 40px;
  background: white;
  color: #d35400;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-carrinho:hover {
  transform: translateY(-2px);

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

/* banner do site */

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 70px 8%;
}

.hero-texto{
  flex: 1;
}

.hero-imagem{
  flex: 1;
}

.hero-imagem img{
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
}

.botao-banner{
  background: #F28C28;
  color: white;
  padding: 16px 35px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.botao-banner:hover{
  transform: translateY(-3px);
  background: #d96b00;
}

/* card de vantagens */

.vantagens{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.vantagem{
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, .08);
}

.vantagem span{
  font-size: 27px;
}

.vantagem h3{
  margin: 8px 0 3px;
  font-size: 1.2rem;
  color: #F28C28;
}

/* produtos */

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

/* card dos bolos */

.card {
  width: 280px;
  background: #ddd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, .15);
}

.imagem-card{
  position: relative;
  overflow: hidden;
}

.imagem-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

.imagem-card img:hover {
  transform: scale(1.05);
}

.badge{
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  background:#F28C28;
  color: white;
  padding: 8px 14px;
  border-radius: 25px;
  font-size: .8rem;
  font-weight: 700;
}

.info-card{
  padding: 22px;
}

.card h3 a {
  color: #333;
  font-size: 1.35rem;
  font-weight: 800;
  text-decoration: none;
  transition: 0.3s;
  margin: 15px 0 8px;
  margin-bottom: 10px;
}

.card h3 a:hover {
  color: #d35400;
}

.preco{
  display: block;
  font-size: 1.6rem;
  font-weight: 800;
  color: #F28C28;
  margin-bottom: 20px;
}

.btn-produto {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background-color: #F28C28;
  color: #ddd;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.btn-produto:hover {
  background: #d96b00;
  transform: translateY(-2px);
}

/* aside do carinho */

#carrinho {
  position: fixed;
  right: -350px;
  top: 40px;
  width: 320px;
  height: 100vh;
  background: white;
  padding: 60px 10px;
  box-sizing: border-box;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff8c42 #f5f5f5;
  transition: 0.4s;
}

#carrinho.aberto {
  right: 0;
}

.topo-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.topo-carrinho h2{
  color: #d35400;
}

.item-carrinho{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns:1fr 110px 90px;
}

.nome-produto{
  width: 160px;
}

.acoes-produto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 120px;
}

.controle-quantidade{
  display: flex;
  padding-right: 15px;
  margin-top: 10px;
  align-items: center;
}

.controle-quantidade button{
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 10px;
  background: #ff8c42;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.controle-quantidade button:hover{
  transform: scale(1.08);
  filter: brightness(.92);
}

.controle-quantidade button:active{
  transform: scale(.95);
}

.controle-quantidade span{
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.img-carrinho{
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}

.resumo {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.total-carrinho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#total{
  font-size: 1.5rem;
  font-weight: bold;
  color: #d35400;
}

.btn-aside{
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 10px;
}

.btn-aside:active{
  transform: scale(.98);
}

#finalizar{
  background: #ff8c42;
  color: white;
  border: none;
}

#finalizar:hover{
  background: #f17722;
  transform: translateY(-2px);
}

#limpar-carrinho{
  background: white;
  color: #ff8c42;
  border: 2px solid #ff8c42;
}

#limpar-carrinho:hover{
  background: #fff3ea;
  transform: translateY(-2px);
}

#fecharCarrinho {
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

#fecharCarrinho:hover {
  color: #d35400;
  transform: rotate(90deg);
}

#contador-carrinho{
  background: #d35400;
  color: white;

  border-radius: 50%;

  min-width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;

  flex-shrink: 0;
}

/* barra de rolagem do aside */

#carrinho::-webkit-scrollbar{
  width: 6px;
}

#carrinho::-webkit-scrollbar-track{
  background: #f5f5f5;
  border-radius: 10px;
}

#carrinho::-webkit-scrollbar-thumb{
  background: #ff8c42;
  border-radius: 10px;
}

#carrinho::-webkit-scrollbar-thumb:hover{
  background: #f17722;
}